/* Fonts imported */
@font-face {
	font-family: 'Metropolis';
	font-weight: 400;
	src: url('assets/Metropolis.otf');
}

@font-face {
	font-family: 'Metropolis';
	font-weight: 600;
	src: url('assets/Metropolis-SemiBold.otf');
}

@font-face {
	font-family: 'Metropolis';
	font-weight: 800;
	src: url('assets/Metropolis-ExtraBold.otf');
}
/* ---------- */

/* Tags defined */
body {
	font-family: 'Metropolis', sans-serif;
	margin: 0 auto;
}

h1, h2 {
	font-weight: 600;
}

p {
	font-weight: 400;
}

a, a:visited {
	text-decoration: none;
	color: initial;
}

span {
	color: #303F9F;
}

form * {
	display: block;
}

input {
	border: none;
	margin: auto;
	padding: 1rem;
	color: #000;
	font-family: 'Metropolis';
	font-size: 1rem;
}

button {
	border: none;
	margin: auto;
	padding: 1rem;
	background-color: #FFF;
	color: #303F9F;
	font-family: 'Metropolis';
	font-weight: 800;
	font-size: 1.5rem;
	border-radius: 0.4rem;
	box-shadow: 0px 8px 0px #BDBDBD;
}

button:hover {
	transform: translateY(+2px);
	box-shadow: 0px 6px 0px #BDBDBD;	
}
/*----------*/

/* Navbar */
#navbar {
	margin: 1rem auto;
	width: 80%;
	height: auto;
	min-width: 360px;
}

#navbar * {
	list-style-type: none;
	display: inline-flex;
	align-items: center;
	margin: 1rem 0.25rem;
}

#navbar a {
	color: #9E9E9E;
	font-weight: 800;
}

#navbar a:hover {
	color: #757575;
}

#navbar a.active {
	color: #303F9F;
}

#logo {
	float: left;
}

#logo span {
	font-size: 2rem;
	margin-left: 1rem;
}

#navbar:not(first-child) {
	text-align: right;
	font-size: 1.5rem;
}

#nav-link li {
	padding-left: 1rem;
}

@media screen and (max-width: 768px) {
	#navbar * {
		display: block;
		text-align: center;
		padding: initial;
	}

	#logo {
		float: initial;
		margin-top: 2rem;
	}

	#logo * {
		display: inline-block;
		vertical-align: middle;
	}

	#navbar:not(first-child) {
		text-align: center;
		margin: 2rem auto;
	}

	#nav-link li {
		margin: auto;
		display: inline-block;
	}
}
/* ---------- */

/* Footer */
footer {
	position: fixed;
	bottom: 0;
	width: 60%;
	min-width: 200px;
	margin: 0 10%;
	padding: 1rem 10%;
	background-color: #303F9F;
}

footer img {
	height: 4rem;
}

footer img:hover {
	filter: invert(8%);
}

#social{
	margin-top: 1rem;
	float: right;
}

#social a i{
	color: #FFF;
	margin-left: 2rem;
}

#social i:hover {
	color: #EEE;
}
/* ---------- */

#main-container {
	top: 3rem;
}

#blue-container {
	width: 24%;
	min-width: 320px;
	padding: 2rem;
	background-color: #303F9F;
	color: #FFF;
	text-align: center;
	margin: auto;
}

#blue-container a {
	color: #F5F5F5;
}

#blue-container a:hover {
	color: #E0E0E0;
}

#blue-container h2 {
	margin: 2rem 0;
}

#attendance-profile * {
	vertical-align: middle;
	display: inline-block;
	padding: 0 1rem;
	font-size: 1rem;
	color: #E0E0E0;
}

#profile-attendance {
	text-align: right;
}

#profile-image {
	width: 1.875rem;
}

#login input {
	margin: auto;
	width: 80%;
	margin-bottom: 1.875rem;
}

#login button {
	margin: 2rem auto;
	width: 90%;
}