{% extends "attendence/base.html" %}
<!-- Attendance form -->
{% block content %}
	<div id="blue-container">
		<h2>ATTENDANCE FORM</h2>
		<div id="attendance-profile">
			<img src="" id="profile-image">
			<p></p>
			<input type="radio" name="attendance" id="present">
			<label for="present"></label>
			<input type="radio" name="attendance" id="absent">
			<label for="absent"></label>
			<input type="radio" name="attendance" id="leave">
			<label for="leave"></label>
		</div>
	</div>
{% endblock %}